.heading {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;

  .logo {
    height: 80px;
  }

  .divider {
    background: #434343;
    height: 1px;
    margin: 40px auto 20px auto;
    max-width: 150px;
    opacity: .25;
    width: 100%;
  }

  h1.title {
    margin: 20px 0;
  }
}
