@import-normalize;

html, body {
  background: #FAFAFA; // TODO:
  font-family: Roboto;
  margin: 0;

  &, #root {
    height: 100%;
  }

  #root {
    display: flex;
    flex-direction: column;
  }
}
