.item {
  margin-top: 40px;
  margin-right: 20px;
}

.uploadContainer {
  margin-bottom: 0;

  :global .MuiPaper-root {
    height: 120px;
  }

  .tile {
    height: 100%;
  }

  .clickable {
    cursor: pointer;
  }

  .notImplemented{
    opacity: 0.4;
    user-select: none;
    cursor: default;
  }
}
