.header {
  background: transparent;
  box-shadow: none;
  color: black;
}

.root {
  display: flex;
}

.title {
  flex-grow: 1;
}

.logoWrapper {
  align-items: center;
  display: flex;
  flex-grow: 1;

  .logo {
    height: 40px;
  }
}

.menu {
  :global .MuiPaper-root {
    margin-top: 40px;
    min-width: 120px;
  }
}

.divider {
  margin: 0 20px;
  height: 20px;
}

.edit {
  margin-left: 8px;
}
