.header {
  background: transparent;
  box-shadow: none;
  color: black;
}

.root {
  display: flex;
}

.title {
  flex-grow: 1;
}

.logoWrapper {
  flex-grow: 1;

  .logo {
    height: 40px;
  }
}

.menu {
  :global .MuiPaper-root {
    margin-top: 40px;
    min-width: 120px;
  }
}
