.root {
  flex-grow: 1;

  :global .MuiGrid-item {
    margin: 10px 0;
  }

  :global .MuiGrid-item:first-of-type {
    margin-top: 0;
  }
}

.form {
  :global .MuiInput-root,
  :global .MuiAutocomplete-inputRoot {
    width: 250px;
  }
}

.submit {
  margin-top: 30px;
}

.groupFields {
  :global .MuiGrid-item:not(:first-of-type) {
    margin-left: 20px;
  }
}
