.root {
  flex-grow: 1;
  margin-bottom: 0px;
  margin-top: 30px;

  .item {
    padding-bottom: 0;
    padding-top: 0;
    width: 50%;
  }

  :global .MuiTableRow-root:empty {
    display: none;
  }
}

.tableToolbar {
  margin-bottom: 20px;
}

.map {
  flex-grow: 1;
  height: 100%;
  min-height: 350px;
  width: 100%;
}

.avatar {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}
